body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%
}

header {
    background-color: #391e3a;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navclass{
    flex-direction: flex;
    display: flex;
    justify-content: center;
}

.content {
    padding: 20px;
    background-color: antiquewhite;
    height: 100%;
}
.content > img{
    width: 50%;
}

form {
    max-width: 400px;
    margin: 0 auto;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#submit:hover {
    background-color: #45a049;
}